body {
	background-color: #C4D7FF;
}
h1 {
	font-family: verdana;
	text-align: center;
	font-size: 50pt;
	color: darkblue;
}
h2 {
	font-family: verdana;
	font-style: italic;
	color: darkblue;
	width: 1280px;
	margin: 0 auto;
	line-height: 2cm;
}
p {
	font-family: verdana;
	font-weight: bold;
	width: 1280px;
	margin: 0 auto;
	text-align: justify;
	text-indent: 1cm;
}
img {
	border: 5px solid darkblue;
	margin-top: 1cm;
	margin-bottom: 1cm;
}
