body {
	background-color: #C9E9D2;
}
h1 {
	font-family: Courier New;
	text-align: center;
	font-size: 50px;
	color: darkgreen;
}
h2 {
	font-family: Courier New;
	font-style: italic;
	color: darkgreen;
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
	line-height: 1.5em;
}
p {
	font-family: Courier New;
	font-weight: bold;
	text-align: justify;
	text-indent: 1cm;
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}
img {
	border: 5px solid darkgreen;
	margin: 1cm auto;
	display: block;
	max-width: 100%;
	height: auto;
}
