body {
	background-color: #DFF5FF;
}
h1 {
	font-family: arial;
	text-align: center;
	font-size: 50px;
	color: darkblue;
}
h2 {
	font-family: arial;
	font-style: italic;
	color: darkblue;
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
	line-height: 1.6;
}
p {
	font-family: arial;
	font-weight: bold;
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
	text-align: justify;
	text-indent: 1cm;
}
img {
	border: 5px solid darkblue;
	margin: 1cm auto;
	display: block;
	max-width: 100%;
	height: auto;
}
